@keyframes tipsy {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

body {
  width: 100%;
  height: 100vh;
  background-color: #000;
  font-family: helvetica, arial, sans-serif;
  background-image: radial-gradient(circle at top right, rgba(255, 0, 0, 0.164), transparent), radial-gradient(circle at 20% 80%, rgba(0, 0, 0, 0.164), transparent);
  overflow-x: hidden;
  position: relative;
  margin: 0;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  bottom: 0;
}

html {
  overflow-x: hidden;
}

#title {
  color: #cacaca;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-size: 80px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -3px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  :root {
	--white: #ffffff;
	--black: #000;
	--grey: rgba(211, 211, 211, 0.14);
	--facebook: rgb(214, 44, 44);
	--twitter: rgb(214, 44, 44);
	--instagram: rgb(214, 44, 44);
	--apple: rgb(214, 44, 44);
  --red: rgb(214, 44, 44);
  }
  
  ul {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	display: flex;
  }
  ul li {
	list-style: none;
	margin: 0 40px;
  }
  ul li a .fab {
	font-size: 40px;
	color: var(--red);
	line-height: 80px;
	transition: 0.5s;
  }
  .fas {
	font-size: 40px;
	color: var(--red);
	line-height: 80px;
	transition: 0.5s;
  }
  ul li a {
	position: relative;
	display: block;
	width: 80px;
	height: 80px;
	text-align: center;
  background: rgba(0, 0, 0, 0.15);
	transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
	transition: 0.5s;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.39);
  border: 1px solid rgba(255, 255, 255, 0.39);
  }

  ul li a:hover {
	transform: perspective(1000px) rotate(-30deg) skew(25deg)
	  translate(20px, -20px);
	box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
  }
  
  ul li:hover .fab .fas{
	color: var(--white);
  }
  ul li:hover:nth-child(1) a {
	background: var(--facebook);
  }
  ul li:hover:nth-child(1) a::before {
	background: rgb(134, 28, 28);
  }
  ul li:hover:nth-child(1) a::after {
	background: rgb(212, 69, 69);
  }
  ul li:hover:nth-child(2) a {
	background: var(--instagram);
  }
  ul li:hover:nth-child(2) a::before {
	background: rgb(134, 28, 28);
  }
  ul li:hover:nth-child(2) a::after {
	background: rgb(212, 69, 69);
  }
  ul li:hover:nth-child(3) a {
	background: var(--twitter);
  }
  ul li:hover:nth-child(3) a::before {
	background: rgb(134, 28, 28);
  }
  ul li:hover:nth-child(3) a::after {
	background: rgb(212, 69, 69);
  }
  ul li:hover:nth-child(4) a {
	background: var(--apple);
  }
  ul li:hover:nth-child(4) a::before {
	background: rgb(134, 28, 28);
  }
  ul li:hover:nth-child(4) a::after {
	background: rgb(212, 69, 69);
  }